* {
    margin: 0;
    padding: 0;
}

.header {
    margin: 20px;
    align-items: center;
    padding: 10px 10px;
    background-color: #fff;
}
body{
    background-color: aqua;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;

}

.container {
    min-width: 200px;
    min-height: 200px;
    background-color: rgb(28, 78, 216);
    color: white;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}