

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

body{
    max-height: 100vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    
}

header{
    background-color: black;
    color: white;
    height: 4rem;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    width: 100vw;
    

}

img{
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

}

.buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.request-button button{
    background: none;
    border: white solid 0.1px;
    color: white;
    width: 9em;
    max-height: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 12px;
    border-radius: 5px;
}

/* .request-button{
    padding: 22px;
} */

button.sign-in-button{
    background-color: #4C5FD5;
    border: none;
    color: white;
    border-radius: 5px;
    width: 7rem;
    max-height: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    padding: 10px;
    
}

button {
    cursor: pointer;
}

.hero {
    height: 60vh;
    background-color: #dadbf1;
    color: black;
    font: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero-content{
    width: 720px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.hero-title{
    font-weight: 400;
    font-size: 80px;
}

.search-bar input{
    border: black solid 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1rem;
    margin: 20px;
    width: 30rem;
}

.search-bar img{

}